// COLOURS:
$primary:#084b6d;
$secondaryColour: #f4fcff;
$tertiaryColour: #f8fbf3; 
$quarternaryColour: #fff5f5; 
$quinaryColour: #ffd698;
$pastelBlue: #d3f0f9; 
$white: #fff; 

// fonts:
$headingFont:"Young Serif";
$bodyFont:"Jakarta Sans";
$baseFont: 1rem;